.searchResult {
    padding: 16px;
}

.searchResult .title {
    font-size: 16px;
    font-weight: 800;
}

.searchResult p, .searchResult li {
    font-size: 12px;
    font-weight: 400;    
}

.searchResult {
    border-bottom: 1px solid #dddddd;
}

.searchResult:hover {
    background-color: rgb(245, 247, 249);
    cursor: pointer;
}

.searchResult:hover .title {
    text-decoration: underline;
}